
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ログインユーザ管理画面</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.mincss"
	th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header>
		<div id="nav">
			<ul>
				<li><a th:href="@{/scores/add}" th:text="#{html.header.scoreaddpage}">add score page</a></li>
				<li><a th:href="@{/scores/}" th:text="#{html.header.managelistpage}">manage list page</a></li>
    		    <li><a th:href="@{/scores/view}" th:text="#{html.header.viewlistpage}">view list page</a></li> 
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/users}" th:text="#{html.header.manageloginuser}">manage loginuser</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/databases}" th:text="#{html.header.managedatabase}">manage detabase</a></li>
				<li><a th:href="@{/logout}" th:text="#{html.header.logout}">logout</a></li>
			</ul>
		</div>
	</header>
	<div class="content">
		<h2 class="form-signin-heading">ログインユーザ管理画面</h2>

		<form class="form-horizontal" th:action="@{/users/create}"
			th:object="${userForm}" method="post">

			<div class="form-group">
				<label class="control-label col-sm-2">ユーザID</label>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="username"
						th:field="*{username}" th:errorclass="error-input" />
				</div>
				<span th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}" class="error-messages">error!</span>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">パスワード</label>
				<div class="col-sm-4">
					<input class="form-control" type="password" name="password"
						th:field="*{password}" th:errorclass="error-input" />
				</div>
				<span th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" class="error-messages">error!</span>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2">権限</label>
				<div class="col-sm-4">
					<select class="form-control" name="role">
						<option th:each="item : ${roleMapItems}" th:value="${item.key}"
							th:text="${item.value}"
							th:selected="${item.key} == ${selectedrole}">プルダウン</option>
					</select>
				</div>
				<span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"
					class="error-messages">error!</span>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-4">
					<input class="btn btn-lg btn-primary btn-block" type="submit"
						value="作成" />
				</div>
			</div>
		</form>
	</div>
</body>
</html>
