
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>スコア登録画面</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.mincss" th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
	<!-- <link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/> -->
  </head>
  <body>
    <form th:action="@{/scores/create}" th:object="${scoreForm}" method="post">
      <table>
        <tr><td>ユーザ名:</td><td>
        	<input type="text" name="username" th:field="*{username}" th:errorclass="error-input" />
        	<span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-messages">error!</span>
		</td></tr>
        <tr><td>入力時間（秒）：</td><td>
        	<input type="text" name="inputtime" th:field="*{inputtime}" th:errorclass="error-input" />
        	<span th:if="${#fields.hasErrors('inputtime')}" th:errors="*{inputtime}" class="error-messages">error!</span>
		</td></tr>
        <tr><td>ミスタイプ数（回）：</td><td>
        	<input type="text" name="misstype" th:field="*{misstype}" th:errorclass="error-input" />
        	<span th:if="${#fields.hasErrors('misstype')}" th:errors="*{misstype}" class="error-messages">error!</span>
		</td></tr>
      </table>
      <input type="submit" value="登録" />
    </form>
  </body>
</html>
