
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>スコア登録完了画面</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
	<link rel="stylesheet" type="text/css" href="../../static/css/style.css" th:href="@{/css/style.css}"/>
	<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">  </head>
  <body>
	<h2 class="form-signin-heading">スコア登録完了画面</h2>
 	<div class="row">
	    <div class="col-sm-offset-1 col-sm-4">
			<form th:action="@{/scores}" method="GET">
		        <input class="btn btn-lg btn-primary btn-block" type="submit" name="form" value="登録" />
		    </form>
	    </div>
	    <div class="col-sm-offset-1 col-sm-4">
			<form th:action="@{/scores/view}" method="GET">
    		    <input class="btn btn-lg btn-primary btn-block" type="submit" name="form" value="管理用一覧画面" />
		    </form>
	    </div>
    </div>

	<div class="row addcompResultMessage" style="font-family: 'Nico Moji';">
		<div class="col-sm-offset-1 col-sm-11">
			<p th:text="${tryCnt} + '回目の挑戦です。'" style="font-family: 'M PLUS Rounded 1c';">挑戦回数</p>
		</div>
		<div class="col-sm-offset-1 col-sm-11">
			<p th:text="'今回は' + ${rank} + ' / ' + ${rankNum} + '位です。'" style="font-family: 'M PLUS Rounded 1c';">今回の順位</p>
		</div>
		<div class="col-sm-offset-1 col-sm-11">
			<p th:text="'最高順位は' + ${maxRank} + ' / ' + ${rankNum} + '位です。'" style="font-family: 'M PLUS Rounded 1c';">最高順位</p>
		</div>
	</div>
  </body>
</html>
