
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>スコア登録完了画面</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/css/addcompstyle.css}" />
<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
	rel="stylesheet">
</head>
<body>
	<header>
		<div id="nav">
    		<ul>
    		    <li><a th:href="@{/scores/add}">スコア登録画面</a></li>
    		    <li><a th:href="@{/scores/}">管理用一覧画面</a></li> 	
    		    <li><a th:href="@{/scores/view}">表示用一覧画面</a></li> 
    		    <li><a th:href="@{/users}">ログインユーザ管理</a></li>
    		    <li><a th:href="@{/databases}">データベース管理</a></li>
				<li><a th:href="@{/logout}">ログアウト</a></li>
    		</ul> 
		</div>
	</header>
	<div class="container">
		<div class="row">
			<img th:src="@{/img/result.png}" />
		</div>
        <!-- 
        <div class="row">
			<h2 class="form-signin-heading col-sm-12">スコア登録完了画面</h2>
		</div> -->
		<div style="font-family: 'Nico Moji';">
			<div class="row data">
				<p th:text="'■' + ${resultform.tryCnt} + '回目'" class="title">■n回目</p>
				<table style="width: 90%">
					<!-- class="table table-striped table-responsive" -->
					<thead>
						<tr>
							<th class="col-sm-1 numalign tablehead">rank</th>
							<th class="col-sm-3 stralign tablehead">user name</th>
							<th class="col-sm-2 numalign tablehead">score</th>
							<th class="col-sm-2 numalign tablehead">input time</th>
							<th class="col-sm-2 numalign tablehead">miss type</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="numalign rank"><p
									th:text="${resultform.rank} + ' / ' + ${resultform.rankNum} "
									style="font-family: 'M PLUS Rounded 1c'; margin-left: 10px;"></td>
							<td class="stralign rank"><p
							 	th:text="${resultform.username}"
									style="font-family: 'M PLUS Rounded 1c';">〇〇</p></td>
							<td class="numalign score"><p
							 		th:text="${resultform.point}"
							 		class="score-p"></td>
							<td class="numalign score-time"><p
							 		th:text="${resultform.inputtime}"
							 		class="score-time-p"></td>
							<td class="numalign score-miss"><p
									th:text="${resultform.misstype}"
									class="score-miss-p"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="row data">
				<p class="title">■最高スコア</p>
				<table style="width: 90%">
					<!-- class="table table-striped table-responsive" -->
					<thead>
						<tr>
							<th class="col-sm-1 numalign tablehead">rank</th>
							<th class="col-sm-3 stralign tablehead">user name</th>
							<th class="col-sm-2 numalign tablehead">score</th>
							<th class="col-sm-2 numalign tablehead">input time</th>
							<th class="col-sm-2 numalign tablehead">miss type</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="numalign rank"><p th:text="${resultform.maxRank} + ' / ' + ${resultform.rankNum}"></td>
							<td class="stralign rank"><p th:text="${resultform.username}">〇〇</p></td>
							<td class="numalign score"><p th:text="${resultform.maxPoint}" class="score-p"></td>
							<td class="numalign score-time"><p th:text="${resultform.maxInputtime}" class="score-time-p"></td>
							<td class="numalign score-miss"><p th:text="${resultform.maxMisstype}" class="score-miss-p"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
