
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>スコア登録完了画面</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/css/style.css}" />
<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
	rel="stylesheet">
</head>
<body>
	<header>
		<div id="nav">
			<ul>
				<li><a th:href="@{/scores/add}">スコア登録画面</a></li>
				<li><a th:href="@{/scores/}">管理用一覧画面</a></li>
				<li><a th:href="@{/scores/view}">表示用一覧画面</a></li>
				<li><a th:href="@{/users}">ログインユーザ管理</a></li>
			</ul>
		</div>
	</header>
	<div class="content">
		<h2 class="form-signin-heading">スコア登録完了画面</h2>
		<div class="row addcompResultMessage"
			style="font-family: 'Nico Moji';">
			<div class="col-sm-offset-1 col-sm-11">
				<p
					th:text="'【' + ${resultform.username} + 'さん】（' + ${resultform.tryCnt} + '回目）'"
					style="font-family: 'M PLUS Rounded 1c';">【〇〇さん】（n回目）</p>
			</div>
			<div class="col-sm-offset-1 col-sm-11">
				<p
					th:text="'入力時間：'  +  ${resultform.inputtime} + '秒、入力ミス：'  +  ${resultform.misstype} + '回'"
					style="font-family: 'M PLUS Rounded 1c';margin-left: 10px;">入力時間：n秒、ミスタイプ数：n回</p>
			</div>
			<div class="col-sm-offset-1 col-sm-11">
				<p
					th:text="'あなたの順位は' + ${resultform.maxRank} + ' / ' + ${resultform.rankNum} + '位です'"
					style="font-family: 'M PLUS Rounded 1c';margin-left: 10px;">あなたの順位はn / n 位です</p>
			</div>
			<div class="col-sm-offset-1 col-sm-11">
				<p
					th:text="'最高スコア：'  + ${resultform.maxPoint} + '、今回のスコア：' + ${resultform.point} + '（' + ${resultform.rank} + ' / ' + ${resultform.rankNum} + '位））'"
					style="font-family: 'M PLUS Rounded 1c';margin-left: 10px;">最高スコア：n、今回のスコア：n（n / n位）</p>
			</div>
		</div>
	</div>
</body>
</html>
