
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="#{html.scores.list.pagetitle}">score list page</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/css/style.css}" />
</head>
<body>
	<header>
		<div id="nav">
    		<ul>
				<li><a th:href="@{/scores/add}" th:text="#{html.header.scoreaddpage}">add score page</a></li>
				<li><a th:href="@{/scores/}" th:text="#{html.header.managelistpage}">manage list page</a></li>
    		    <li><a th:href="@{/scores/view}" th:text="#{html.header.viewlistpage}">view list page</a></li> 
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/users}" th:text="#{html.header.manageloginuser}">manage loginuser</a></li>
				<li sec:authorize="hasRole('ADMIN')"><a th:href="@{/databases}" th:text="#{html.header.managedatabase}">manage detabase</a></li>
				<li><a th:href="@{/logout}" th:text="#{html.header.logout}">logout</a></li>
    		</ul>
		</div>
	</header>
	<div class="content">
		<h2 class="form-signin-heading" th:tet="#{html.scores.list.title}">score list page</h2>
		<table class="table table-striped table-bordered table-responsive">
			<tr>
				<th class="col-sm-2" th:text="#{html.scores.list.item.username}">username</th>
				<th class="col-sm-2" th:text="#{html.scores.list.item.score}">score</th>
				<th class="col-sm-2" th:text="#{html.scores.list.item.inputtime}">input time（seconds）</th>
				<th class="col-sm-2" th:text="#{html.scores.list.item.typemiss}">type miss(times)</th>
				<th class="col-sm-2" th:text="#{html.scores.list.item.committime}">commit time</th>
				<th class="col-sm-1"></th>
				<th class="col-sm-1"></th>
			</tr>
			<tr th:each="score : ${scores}">
				<td th:text="${score.username}">user</td>
				<td th:text="${score.point}">0</td>
				<td th:text="${score.inputtime}">0</td>
				<td th:text="${score.misstype}">0</td>
				<td
					th:text="${#dates.format(score.committime,'yyyy/MM/dd k:mm:ss')}">yyyy/mm/dd-00:00:00</td>
				<td>
					<form th:action="@{/scores/edit}" method="post">
						<input type="submit" name="form" th:value="#{html.scores.list.btn.edit}" /> <input
							type="hidden" name="username" th:value="${score.username}" /> <input
							type="hidden" name="committime" th:value="${score.committime}" />
					</form>
				</td>
				<td>
					<form th:action="@{/scores/delete}" method="post">
						<input type="submit" name="form" th:value="#{html.scores.list.btn.delete}" /> <input
							type="hidden" name="username" th:value="${score.username}" /> <input
							type="hidden" name="committime" th:value="${score.committime}" />
					</form>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>
