
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>スコア一覧画面（ランキング表示）</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/bootstrap-theme.min.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" href="../../static/css/style.css"
	th:href="@{/css/rankstyle.css}" />
<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
<!--     <script type="text/javascript" th:src="@{/webjars/1.9.4-2/datatables-1.9.4-2.jar}"></script> -->
<script
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="/js/scoreload.js" th:src="@{/js/scoreload.js}"></script>
</head>
<body>
	<!--  		<h2 class="form-signin-heading">スコア一覧画面</h2>-->
	<div class="content">
		<div class="viewarea">
			<div class="imageview">
				<div class="comment">
					<p>
					年に１回、新入生を対象としたタイピングコンテストを実施しています。<br>
					学内最高ランクの猛者を超えるタイピングができるか！？<br>
					H30新入生の成績は以下です。<br>
					</p>
				</div>
				<div>
					<img th:src="@{/img/charactor.png}" class="charactor" />
				</div>
			</div>
			<table>
					<thead>
						<tr>
							<th class="col-sm-1" style="border:none;"></th>
							<th class="col-sm-2 numalign" style="border:none;">rank</th>
							<th class="col-sm-2 stralign" style="border:none;">user name</th>
							<th class="col-sm-2 numalign" style="border:none;">score</th>
							<th class="col-sm-2 numalign" style="border:none;">input time</th>
							<th class="col-sm-2 numalign" style="border:none;">miss type</th>
							<th class="col-sm-1" style="border:none;"></th>
						</tr>
					</thead>
					<tbody>
					<tr>
				        <td></td>
				      	<td class="numalign">1</td>
				        <td class="stralign">○○学科</td>
				        <td class="numalign">0</td>
				        <td class="numalign">0</td>
				        <td class="numalign">0</td>
				        <td></td>
				    </tr>
					<tr>
				        <td></td>
				      	<td class="numalign">2</td>
				        <td class="stralign">○○学科</td>
				        <td class="numalign">0</td>
				        <td class="numalign">0</td>
				        <td class="numalign">0</td>
				        <td></td>
				    </tr>
					<tr>
				        <td></td>
				      	<td class="numalign">3</td>
				        <td class="stralign">○○学科</td>
				        <td class="numalign">0</td>
				        <td class="numalign">0</td>
				        <td class="numalign">0</td>
				        <td></td>
				    </tr>
					</tbody>
				</table>
		</div>
		<div class="rankarea">
			<div class="center">
				<img th:src="@{/img/result_logo.gif}" />
			</div>
			<div id="rank">
				<table id="ranktable"
					class="table table-striped table-responsive">
					<thead>
						<tr>
							<th class="col-sm-1" style="border-bottom: 2px solid #0000ff;"></th>
							<th class="col-sm-2 numalign" style="border-bottom: 2px solid #0000ff;">rank</th>
							<th class="col-sm-2 stralign" style="border-bottom: 2px solid #0000ff;">user name</th>
							<th class="col-sm-2 numalign" style="border-bottom: 2px solid #0000ff;">score</th>
							<th class="col-sm-2 numalign" style="border-bottom: 2px solid #0000ff;">input time</th>
							<th class="col-sm-2 numalign" style="border-bottom: 2px solid #0000ff;">miss type</th>
							<th class="col-sm-1" style="border-bottom: 2px solid #0000ff;"></th>
						</tr>
					</thead>
					<tbody>
						<!-- 	    <tr th:each="score, scoreStat : ${scores}">
			        <td></td>
			      	<td th:text="${scoreStat.index} + 1 + '/' + ${scoreStat.size} + '位'"></td>
			        <td th:text="${score.point}">0</td>
			        <td th:text="${score.inputtime}">0</td>
			        <td th:text="${score.misstype}">0</td>
			        <td th:text="${score.username}">user</td>
			        <td></td>
			   </tr> -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
